@import "./_variables.scss";

.tabs-component {
  margin: 20px 0;
}

.tabs-component-tabs {
  border: solid 1px $vermelho;
  border-radius: 20px;
  margin-bottom: 5px;
}

@media (min-width: 700px) {
  .tabs-component-tabs {
    border: 0;
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1px;
  }
}

.tabs-component-tab {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  margin-right: 0;
  list-style: none;
  // opacity: .7;
}

.tabs-component-tab:not(:last-child) {
  border-bottom: solid 1px #fff;
}

.tabs-component-tab:last-child {
  height: 0px !important; 
  width: 0px !important;

}

.tabs-component-tab:hover {
  color: #666;
  border-color: #ddd;
  opacity: 1;
  border-bottom:none;
}

.tabs-component-tab.is-active {
  color: #000;
  border-color: #ddd;
  opacity: 1;
}

.tabs-component-tab.is-disabled * {
  color: #cdcdcd;
  cursor: not-allowed !important;
}

@media (min-width: 700px) {
  .tabs-component-tab {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 10px 10px 0 0;
    margin-right: .5em;
    transform: translateY(2px);
    transition: transform .3s ease;
  }

  .tabs-component-tab.is-active {
    border-bottom: solid 1px #fff;
    z-index: 2;
    transform: translateY(0);

    .tabs-component-tab-a {
      opacity: 1;
      color: #333;
    }
  }
}

.tabs-component-tab-a {
  align-items: center;
  color: inherit;
  display: flex;
  padding: .75em 1em;
  text-decoration: none;

  transition: all .3s ease;
  opacity: .6;

  &:hover {
    text-decoration: none;
    opacity: 1;
    color: #333;

  }
}

.tabs-component-panels {
  padding: 20px 20px;
}

@media (min-width: 700px) {
  .tabs-component-panels {
    border-top-left-radius: 0;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 0 6px 6px 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    padding: 20px 2em;
  }
}